################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/InfinitySystems/FileContentIndex/4dc5469d-8529-47a8-bacb-1f9cb0b51039.vsidx
/.vs/InfinitySystems/FileContentIndex/48232e12-7f13-441c-ab9e-cd57e894a870.vsidx
/.vs/InfinitySystems/config
