.home-container {
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background-color: black;
    /*box-shadow: inset 0 0 25px white;*/
}
.home-header {
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  justify-content: center;
}
.home-image {
    height: 2rem;
    margin-left: 25px;
    margin-right: 25px;
    filter: invert(1);
}
.home-burger-menu {
    left: 75px;
    position: fixed;
    filter: invert(1);
}
.home-icon {
  width: 25px;
  height: 25px;
  display: flex;
  align-self: center;
}
.home-hero {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 200px;
    flex-direction: row;
    background-color: transparent;
}
.home-image5 {
    width: 500px;
    object-fit: scale-down;
    z-index: 1;
    border-radius: 50%;
}
.home-container1 {
  display: flex;
  margin-left: 100px;
  flex-direction: column;
  z-index: 1;
}
.home-text {
  font-size: 3rem;
  color:white;
}
.home-text01 {
  margin-top: 8px;
  font-weight: 600;
  margin-bottom: 8px;
  color:white;
}
.home-btn-group {
  display: flex;
  margin-top: 8px;
  align-items: center;
  margin-bottom: 8px;
  flex-direction: row;
}
.home-button {
    color: white;
    transition: 0.3s;
    padding-top: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 8px;
}
.home-button:hover {
  transform: scale(1.02);
}
.home-button1 {
    transition: 0.3s;
    margin-left: 8px;
    padding-top: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 8px;
}
.home-button1:hover {
  transform: scale(1.02);
}
.home-text02 {
  margin-top: 16px;
  padding-right: 48px;
  color:white;
  font-family: 'Felix Titling';
}

.home-text03 {
    margin-top: 7px;
    margin-bottom: 32px;
    padding-right: 48px;
    color: white;
    font-family: 'Felix Titling';
}
@media(max-width: 991px) {
  .home-hero {
    padding: 48px;
    flex-direction: column;
  }
  .home-image5 {
    order: 2;
  }
  .home-container1 {
    align-items: center;
    margin-bottom: 32px;
  }
  .home-text {
    text-align: center;
  }
  .home-text01 {
    text-align: center;
  }
  .home-text02 {
    text-align: center;
    padding-left: 64px;
  }
}
@media(max-width: 767px) {
  .home-header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-hero {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-image5 {
    width: 80%;
  }
}
@media(max-width: 479px) {
    .home-hero {
        padding-top: 32px;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 32px;
    }
    .home-container1 {
        margin-bottom: 8px;
    }
  .home-btn-group {
    flex-direction: column;
  }
  .home-button1 {
    margin-top: 8px;
  }
  .home-text02 {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    transition: 0.5s;
    text-align: center;
    text-justify: auto;
    padding-top: 60px;
    backdrop-filter: blur(5px);
}

    .sidebar a {
        padding: 8px 15px 8px 32px;
        text-decoration: none;
        align-items: center;
        font-size: 32px;
        font-family: 'PT Stars';
        color: white;
        display: block;
        transition: 0.3s;
        white-space: nowrap;
    }

    .sidebar a:hover {
        color: dimgrey;
    }

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.container {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(110%);
    width: 750px;
    height: 750px;
    background-color: rgb(0,0,0,0.5);
    transition: transform 0.5s ease-in-out;
    white-space: nowrap;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 15px white;
    z-index: 2;
}

    .container.show {
        transform: translateX(-50%) translateY(-15%);
    }

    .container.hide {
        transform: translateX(-50%) translateY(110%);
    }

.close-button {
    position: absolute;
    top: 15px;
    right: 20px;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: white;
}

.myImage {
    width: 150px;
    height: auto;
    z-index: 3;
    margin-top: 25px;
    filter: invert(1);
}

/*input Grid*/
.event-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 75px;
    gap: 25px;
    grid-auto-flow: row;
    grid-template-areas:
        "Input1"
        "Input2"
        "Input3"
        "Input4"
        "Input5"
        "Submit";
}

/*Text Input*/
input {
    background: 0;
    border: 0;
    outline: none;
    width: 80vw;
    max-width: 400px;
    font-size: 1.5em;
    color: white;
    transition: padding 0.3s 0.2s ease;
}

    input:focus {
        padding-bottom: 5px;
    }

        input:focus + .line:after {
            transform: scaleX(1);
        }

.field {
    position: relative;
}

    .field .line {
        width: 100%;
        height: 3px;
        position: absolute;
        bottom: 5px;
        background: #4f4f4f;
    }

    .field .line:after {
        content: " ";
        position: absolute;
        float: right;
        width: 100%;
        height: 3px;
        transform: scalex(0);
        transition: transform 0.3s ease;
        background: white;
    }

/*Submit button*/
.submit {
    position: relative;
    width: 175px;
    height: 50px;
    margin-left: 110px;
    font-family: 'Footlight MT';
    font-size: 30px;
    text-align: center;
    color: white;
    background-image: linear-gradient( -45deg, white 1%, rgb(128, 128, 128) 50%, white 100% );
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}
/*DateTime Input*/
birthdate::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input[type="date"] {
    background: rgba(255, 255, 255, 0.0);
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    outline: none;
    border-radius: 50px;
    text-align: center;
}

    input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(0.5) sepia(1) saturate(0) hue-rotate(175deg);
    }

::webkit-calendar-picker-indicator {
    background: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.birth {
    height: 60px;
    width: 180px;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0);
    align-items: center;
    justify-content: center;
}

/*Events Container*/
.eventscontainer {
    height: 100%;
    width: 150px;
    position: fixed;
    right: 0;
    color: white;
    background-color: black;
    padding: 20px;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
}

