@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --circle: 100px;
  --size: 10px;
}
* {
  transition: all 0.3s ease;
}

section {
  width: fit-content;
  padding: 50px ;
  height: fit-content;

  display: flex;
}

.circle {
  position: relative;

  width: var(--circle);

  height: var(--circle);

  margin: 0 calc(var(--size) / -2) 0 0;

  animation: changeColor 4s infinite linear;
}

.circle:nth-child(2) {
  margin: 0 0 0 calc(var(--size) / -2);

  transform: rotate(-180deg);
}

.circle span {
  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  transform: rotate(calc(18deg * var(--rot)));
}

.circle span:before {
  content: "";

  position: absolute;

  top: calc(50% - var(--size) / 2);

  right: 0;

  width: var(--size);

  height: var(--size);

  background: white;

  border-radius: 50%;

  box-shadow: 0 0 10px 2px white, 0 0 20px 2px white;

  transform: scale(0.1);

  animation: scale 3s infinite linear;

  animation-delay: calc(0.1s * var(--rot) * 0.75);
}

.circle:nth-child(2) span:before {
  animation-delay: calc(-0.1s * var(--rot) * 0.75);
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

@keyframes changeColor {
  100% {
    filter: grayscale(100%); /* Turns the color to shades of gray */
  }
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000000;
}

.flex-container {
  display: flex;
  height: 850px;
  background: rgba(255, 255, 255, 0);
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.225);
  border-radius: 50px;
  backdrop-filter: blur(7px);
}


.container {
  height: 850px;
  width: 800px;
  margin-top: 40px;
  background: rgba(255, 255, 255, 0);
  position: center;
  overflow: hidden;
}

.btn {
  height: 60px;
  width: 250px;
  margin: 20px auto;
  box-shadow: 10px 10px 30px #444;
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform: translateX(-10px);
}

.login {
  font-size: 22px;
  border: none;
  outline: none;
  background-color: transparent;
  position: relative;
  margin-left: -30px;
  cursor: pointer;
  transform: translateX(5px);

}
.signup {
  font-size: 22px;
  border: none;
  outline: none;
  background-color: transparent;
  position: relative;
  margin-right: -30px;
  cursor: pointer;
  transform: translateX(-5px);
}

.slider {
  height: 60px;
  width: 115px;
  border-radius: 50px;
  background-image: linear-gradient(
    90deg,
    rgb(255, 255, 255, 1) 10%,
    rgb(255, 255, 255, 1) 100%
  );
  position: absolute;
  top: 260px;
  left: 265px;
  transition: all 0.5s ease-in-out;
  transform: translateX(0px);
}

.moveslider {
  left: 400px;
}

.form-section {
  height: 500px;
  width: 1000px;
  padding: 20px 0;
  display: flex;
  position: relative;
  transition: all 0.5s ease-in-out;
  left: -200px;
}

.form-section-move {
  left: -1200px;
}


.login-box,
.signup-box {
  height: 100% auto;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 40px;
  position: absolute;
}

.login-box {
  margin-top: 50;
  gap: 25px;
  position: absolute;
  left: 320px;
}

.signup-box {
  gap: 10px;
  position: absolute;
  left: 1330px;
}


.ele {
  height: 60px;
  width: 400px;
  outline: none;
  border: none;
  color: rgb(255, 255, 255);
  background: rgba(41, 41, 41, 0.4);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  padding-left: 30px;
  font-size: 18px;
}

.clkbtn {
  height: 60px;
  width: 150px;
  border-radius: 50px;
  background-image: linear-gradient(
    90deg,
    rgb(255, 255, 255, 0.75) 35%,
    rgba(255, 255, 255, 0.75) 100%
  );
  font-size: 22px;
  border: none;ـ
  cursor: pointer;
}


.flex-container div {
  flex-wrap: wrap;
}

/* birthdate::before */
birthdate::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input[type="date"] {
  background: rgba(255, 255, 255, 0.0);
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 15px;
  color: rgba(255, 255, 255, 0.5); /* Match the text color */
  font-size: 18px;
  outline: none;
  border-radius: 50px;
  text-align: center;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0.5) sepia(1) saturate(0) hue-rotate(175deg);
}
::webkit-calendar-picker-indicator {
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

.birth {
  height: 60px;
  width: 180px;
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0);
  align-items: center;
  justify-content: center;
}


@media screen and (max-width: 650px) {
  .container {
    height: 600px;
    width: 300px;
  }

  .title {
    font-size: 15px;
  }

  .btn {
    height: 50px;
    width: 200px;
    margin: 20px auto;
  }

  .login,
  .signup {
    font-size: 19px;
  }

  .slider {
    height: 50px;
    width: 100px;
    left: 50px;
  }

  .moveslider {
    left: 150px;
  }

  .form-section {
    height: 500px;
    width: 600px;
  }

  .form-section-move {
    left: -300px;
  }

  .login-box,
  .signup-box {
    height: 100%;
    width: 300px;
  }

  .ele {
    height: 50px;
    width: 250px;
    font-size: 15px;
  }

  .clkbtn {
    height: 50px;
    width: 130px;
    font-size: 19px;
  }
}

@media screen and (max-width: 320px) {
  .container {
    height: 600px;
    width: 250px;
  }

  .heading {
    font-size: 30px;
  }

  .title {
    font-size: 10px;
  }

  .btn {
    height: 50px;
    width: 200px;
    margin: 20px auto;
  }

  .login,
  .signup {
    font-size: 19px;
  }

  .slider {
    height: 50px;
    width: 100px;
    left: 27px;
  }

  .moveslider {
    left: 127px;
  }

  .form-section {
    height: 500px;
    width: 500px;
  }

  .form-section-move {
    left: -250px;
  }

  .login-box,
  .signup-box {
    height: 100%;
    width: 250px;
  }

  .ele {
    height: 50px;
    width: 220px;
    font-size: 15px;
  }

  .clkbtn {
    height: 50px;
    width: 130px;
    font-size: 19px;
  }
}